.PurchasePageContainerTimePass,
.PurchasePageContainerDayPass {
    width: 1440px;
    height: 520px;
    margin: 0 auto;
}

.PurchasePageContainerTimePass {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    /* border: 2px solid blue; */
    padding-left: 50px;
}

.PurchasePageContainerDayPass {
    display: flex;
    justify-content: space-around;
    /* border: 2px solid gray; */
    /* background-color: red; */
}