.PurchaseItemContainerTimePass {
    background-color: rgb(67, 225, 130);
    width: 300px;
    height: 200px;
    text-align: center;
}

.PurchaseItemContainerDayPass,
.PurchaseItemContainerFixPass {
    width: 330px;
    height: 540px;
    text-align: center;
    background-color: rgb(131, 118, 255);
}

.PurchaseItemContainerFixPass {
    background-color: rgb(228, 255, 165);
}

/* ==[ 시간권 타이틀 ]==================================================================================== */
.timePassTimeValue {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 22px;
    margin-top: 8px;
}

.timePassPrice {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 23px;
}

.purchaseTimePassButtonBox {
    width: 250px;
    height: 60px;
    margin: auto;
}

.purchaseTimePassButtonBox>button {
    display: inline-block;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
    font-size: 30px;
}

.purchaseTimePassButtonBox>button:hover {
    background-color: rgb(43, 43, 43);
    color: white;
    cursor: pointer;
}


/* ==[ 기간권 / 고정석 타이틀 ]==================================================================================== */
.dayPassInfoTitle {
    width: 200px;
    height: 50px;
    margin: auto;
    line-height: 50px;
    margin-top: 30px;
}

.dayPassInfoTitle>span {
    font-size: 30px;
    font-weight: bold;
}

.dayPassInfoTitle>span:nth-child(2),
.dayPassInfoTitle>span:nth-child(4) {
    font-size: 28px;
}

.dayPassInfoTitle>span:nth-child(3) {
    font-size: 18px;
}


/* ==[ 기간권 / 고정석 가격 ]==================================================================================== */
.dayPassPrice {
    width: 200px;
    margin: auto;
    margin-top: 30px;
}

.dayPassPrice>span:nth-child(1) {
    font-size: 30px;
    font-weight: bold;
}


/* ==[ 기간권 / 고정석 날짜 선택 ]==================================================================================== */
.chooseDateBox {
    width: 300px;
    height: 150px;
    /* background-color: rgb(45, 45, 45); */
    margin: auto;
    margin-top: 30px;
}

.chooseDateTitle {
    width: 300px;
    height: 40px;
    line-height: 40px;
    background-color: rgb(91, 91, 91);
}

.chooseDateTitle>span {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.chooseStartDate,
.choosedEndDate {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chooseStartDate {
    border-bottom: 1px solid rgb(221, 221, 221);
}

.chooseStartDate>span,
.choosedEndDate>span {
    display: inline-block;
    width: 60px;
    height: 42px;
    line-height: 42px;
    background-color: rgb(248, 248, 248);
    margin: 0;
    text-align: center;
    font-size: 14px;
}

.chooseStartDate>input,
.choosedEndDate>input {
    display: inline-block;
    width: 240px;
    height: 42px;
    font-size: 15px;
    border: none;
    text-align: left;
    text-indent: 6px;
    margin: 0;
}

.choosedEndDate>input {
    font-weight: bold;
    font-size: 16px;
}

.chooseStartDate>input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0);
    display: block;
    /* background: url(https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/calendar-16.png) center/80% no-repeat white; */
    width: 30px;
    height: 25px;
    border-width: thin;
    cursor: pointer;
}



/* ==[ 상품 정보 타이틀 ]==================================================================================== */
.purchaseDayPassButtonBox {
    width: 250px;
    height: 60px;
    margin: auto;
    margin-top: 40px;
}

.purchaseDayPassButtonBox>button {
    display: inline-block;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
    font-size: 30px;
}

.purchaseDayPassButtonBox>button:nth-child(2) {
    background-color: rgb(207, 207, 207);
    font-weight: bold;
    margin-top: 20px;
}

.purchaseDayPassButtonBox>button:hover {
    background-color: rgb(43, 43, 43);
    color: white;
    cursor: pointer;
}

.chooseStartDateTimeBox {
    width: 200px;
    height: 100px;
    background-color: aqua;
}

/* ====[날짜충돌 ConflictModalContainer]===================== */
.ConflictModalContainerBackGround {
    width: 100%;
    height: 100%;
    background-color: rgb(84, 84, 84, 0.3);
    position: fixed;
    top: 0;
    left: 0;
}

.ConflictModalContainer {
    position: fixed;
    width: 900px;
    height: 350px;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.conflictTitle {
    width: 90%;
    height: 50px;
    line-height: 50px;
    /* background-color: aqua; */
    margin-top: 10px;
}

.conflictTitle>span {
    font-size: 40px;
    font-weight: bold;
}

.conflictSubTitle {
    width: 90%;
    height: 20px;
    line-height: 20px;
    margin-top: 20px;
}

.conflictData {
    width: 95%;
    height: 100px;
    line-height: 100px;
    margin-top: 30px;
}

.conflictData>span:nth-child(-n+9) {
    font-size: 20px;
    font-weight: bold;
}

.conflictData>span:nth-child(10),
.conflictData>span:nth-child(12) {
    color: red;
    font-size: 25px;
    font-weight: bold;
}

.conflictData>span:nth-child(11) {
    font-weight: bold;
    font-size: 25px;
}

.conflictModalClose {
    width: 200px;
    height: 50px;
    margin-top: 40px;
}

.conflictModalClose>button {
    width: 100%;
    height: 100%;
    font-size: 24px;
    font-weight: bold;
    border: none;
    background-color: black;
    color: white;
}

.conflictModalClose>button:hover {
    background-color: gray;
    cursor: pointer;
}