/* .UserListPageContainer {} */

.userListSearchBox {
    width: 1300px;
    height: 70px;
    margin-top: 20px;
    margin-left: 30px;
    line-height: 40px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
}

.userListSearchTitle {
    display: inline-block;
    box-sizing: border-box;
    width: 130px;
    height: 40px;
    line-height: 40px;
    font-size: 17px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 5px;
}

.userListSearchInputText {
    display: inline-block;
    width: 200px;
    height: 27px;
    margin-left: 20px;
}

.userListSearchButton {
    display: inline-block;
    width: 90px;
    height: 34px;
    margin-left: 5px;
    border: none;
    background-color: rgb(166, 166, 166);
    font-size: 16px;
    border-radius: 5px;
}

.userListSearchButton:hover {
    background-color: rgb(141, 141, 141);
}

/* [select 설정]========================================================================== */
.userListSelectIsCurrentUse,
.userListSelectIsBenned {
    display: inline-block;
    width: 90px;
    height: 30px;
    margin-left: 200px;
    text-align: center;
}


/* [스크롤 설정]================================================================================ */
.userListPageTable {
    width: 1300px;
    height: 450px;
    margin-top: 25px;
    margin-left: 30px;
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
    padding: 0;
}

.UserListPageContainer>table>tbody {
    display: block;
    overflow-y: scroll;
    max-height: 394px;
}

.UserListPageContainer>table>thead,
.UserListPageContainer>table>tbody>tr {
    display: table;
    width: 100%;
}


/* ===[tr : hover]============ */
.UserListPageContainer>table>tbody>.userListTbodyTr:hover {
    background-color: rgb(220, 220, 220);
}

.UserListPageContainer>table>tbody>.userListTbodyTrBenned {
    background-color: rgb(220, 220, 220);
    opacity: 0.3;
}


/* [테이블 column 넓이]================================================================== */

.userListPageTable>thead>tr>th:nth-child(1),
.userListPageTable>tbody>tr>td:nth-child(1) {
    width: 180px;
    /* background-color: red; */
}

.userListPageTable>thead>tr>th:nth-child(2),
.userListPageTable>tbody>tr>td:nth-child(2) {
    width: 150px;
    /* background-color: orange; */
}

.userListPageTable>thead>tr>th:nth-child(3),
.userListPageTable>tbody>tr>td:nth-child(3) {
    width: 150px;
    /* background-color: yellow; */
}

.userListPageTable>thead>tr>th:nth-child(4),
.userListPageTable>tbody>tr>td:nth-child(4) {
    width: 170px;
    /* background-color: green; */
}

.userListPageTable>thead>tr>th:nth-child(5),
.userListPageTable>tbody>tr>td:nth-child(5) {
    width: 210px;
    /* background-color: rgb(120, 120, 255); */
}

.userListPageTable>thead>tr>th:nth-child(6),
.userListPageTable>tbody>tr>td:nth-child(6) {
    width: 210px;
    /* background-color: rgb(169, 77, 255); */
}

.userListPageTable>thead>tr>th:nth-child(7),
.userListPageTable>tbody>tr>td:nth-child(7) {
    width: 80px;
    /* background-color: aquamarine; */
}

.userListPageTable>thead>tr>th:nth-child(8) {
    width: 15px;
    background-color: rgb(167, 119, 119);
}

.userListPageTable>thead>tr>th {
    background-color: rgb(238, 238, 238);
}



/* [기타 넓이 높이 설정]================================================================================================================== */
.userListPageTable>thead>tr>th {
    height: 30px;
    border-bottom: 3px solid black;
}

.UserListPageContainer>table>tbody>tr {
    height: 40px;
}

.userListPageTable>tbody>tr>td {
    border-bottom: 1px solid gray;
}

.UserListPageContainer>table>thead>tr>th {
    font-size: 16px;
}

/* ================================================ */
.noSearchedUserList>td {
    height: 394px;
    font-size: 65px;
    font-weight: bold;
}

.noSearchedUserList>td:hover {
    background-color: white;
}

/* =====[이용금지 / 해제 버튼]============================= */
.unBenButton,
.benButton {
    width: 80px;
    height: 28px;
    margin: auto;
}

.unBenButton>button,
.benButton>button {
    display: inline-block;
    width: 100%;
    height: 100%;
    border: none;
}

.benButton>button {
    background-color: red;
    color: white;
    font-weight: bold;
}

.UserListPageContainer>table>tbody>.userListTbodyTrBenned>td>.unBenButton>button {
    background-color: rgb(0, 189, 0) !important;
}

.UserListPageContainer>table>tbody>.userListTbodyTrBenned>td:nth-child(7)>button {
    display: inline-block;
    width: 60px;
    color: red;
    font-weight: bold;
    border: 1px solid red;
}

.UserListPageContainer>table>tbody>.userListTbodyTrBenned>td:nth-child(7)>button:hover {
    cursor: pointer;
    background-color: red;
    color: white;
    border: 3px solid black;
}

.UserListPageContainer>table>tbody>.userListTbodyTrBenned>td>.unBenButton>button:hover {
    background-color: rgb(0, 68, 0) !important;
    color: white;
    font-weight: bold;
    opacity: 1 !important;
    cursor: pointer;
}

.UserListPageContainer>table>tbody>.userListTbodyTr>td>.benButton>button:hover {
    background-color: rgb(157, 0, 0);
    color: white;
    font-weight: bold;
    opacity: 1 !important;
    cursor: pointer;
}


/* ====[이용 금지 사유 모달]============ */
.benCauseContentContainerBackGround {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.616);
}

.benCauseContentContainer {
    position: fixed;
    width: 700px;
    height: 400px;
    background-color: rgb(236, 236, 236);
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    border: 3px solid black;
}

.benCauseContentContainer>div {
    width: 90%;
    margin: auto;
    text-align: center;
}

.benCauseContentContainer>div:nth-child(1)>span:nth-child(1) {
    font-size: 30px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
}

.benCauseContentContainer>div:nth-child(1)>span:nth-child(2) {
    font-size: 13px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-left: 30px;
}

.benCauseContentContainer>div:nth-child(2) {
    text-align: left;
    border: none;
    background-color: white;
    height: 250px;
    margin-top: 30px;
}

.benCauseContentContainer>div:nth-child(3) {
    text-align: center;
    border: none;
    /* background-color: white; */
    height: 40px;
    margin-top: 10px;
}

.benCauseContentContainer>div:nth-child(3)>button {
    border: none;
    width: 200px;
    height: 100%;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}

.benCauseContentContainer>div:nth-child(3)>button:hover {
    cursor: pointer;
    background-color: rgb(74, 74, 74);
}