.AppPatherMainHomeBody {
    width: 100vw;
    height: calc(100vh - 130px);
    margin: 0;
    padding: 0;
    background-color: rgb(241, 250, 255);
}

.AppPatherMainHomeHeader {
    width: 100vw;
    background-color: rgb(241, 250, 255);

}

.AppPatherAdminMenuBarRouteBody {
    display: flex;
}

.AppPatherAdminRouteBody {
    width: 1350px;
    height: 600px;
    background-color: aqua;
    margin: 10px auto;
}