.SalesStatusPageContainer {
    width: 1330px;
    height: 580px;
    background-color: rgb(255, 216, 216);
    margin: 0 10px;
}

.saledTimePassList,
.saledDayPassList,
.saledFixedList {
    display: flex;
}

.saledTimePassList {
    gap: 100px;
    margin-bottom: 50px;
}

.saledDayPassList {
    gap: 100px;
    margin-bottom: 50px;
}

.saledFixedList {
    gap: 100px;
}

.new_Area {
    margin-top: 30px;
    margin-left: 30px;
    background-color: rgb(210, 207, 244);
    width: 90%;
    height: 80%;
    gap: 30px;
    display: flex;
}

.barTrack22 {
    width: 30px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.timebar,
.daybar,
.fixbar {
    width: 30px;
    background-color: green;
    height: 0;
    transition: height 1s ease;
}

.daybar {
    background-color: blue;
}

.fixbar {
    background-color: blueviolet;
}