.SeatAdminContainer,
.SeatAdminUsed,
.SeatAdminFixed {
    width: 60px;
    height: 50px;
    background-color: #dcdcdc;
    border: 1px solid #ccc;
    border: 1px solid black;
    box-sizing: border-box;
}

.SeatAdminFixed {
    background-color: rgb(255, 255, 10);
}

.SeatAdminUsed {
    background-color: red;
}

.SeatAdminContainer:hover {
    background-color: #c3c3c3;
}

.SeatAdminUsed:hover,
.SeatAdminFixed:hover {
    background-color: rgb(253, 157, 157);
    cursor: pointer;
}

.SeatAdminFixed:hover {
    background-color: rgb(255, 255, 159)
}

/* =================================================================== */
.seatNum {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.seatAdminUserId {
    text-align: center;
    font-size: 12px;
    overflow: hidden;
    /* 넘치는 부분 숨기기 */
    white-space: nowrap;
    /* 텍스트 줄 바꿈 방지 */
    text-overflow: ellipsis;
    /* 넘칠 때 ...으로 표시 */
}