.UserProfilePageContainer {
    width: 1100px;
    height: 500px;
    margin: auto;
    /* background-color: aqua; */
    padding-top: 20px;
    padding-left: 40px;
}

.userProfileTitle {
    width: 600px;
    height: 70px;
    line-height: 70px;
    /* background-color: antiquewhite; */
}

.userProfileTitle>span {
    font-size: 33px;
    font-weight: bold;
}

/*============================================================= */
.userProfileInfoBox {
    width: 1050px;
    height: 340px;
    /* background-color: rgb(208, 157, 255); */
    display: flex;
    box-sizing: border-box;
}

.userProfileTable {
    border-collapse: collapse;
    width: 600px;
    background-color: rgb(194, 255, 224);
}

.userProfileTable>table>tr>td {
    border: 1px solid black;
    width: 300px;
    height: 65px;
}

.userProfileTable>table>tr>td:nth-child(1) {
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    background-color: rgb(132, 210, 171);
}

.userProfileTable>table>tr>td:nth-child(2) {
    padding-left: 20px;
}

/* ======================================================== */

.userTableButtonBox {
    width: 200px;
    margin-left: 200px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.userTableButtonBox>button {
    display: inline-block;
    width: 90%;
    height: 80px;
    font-size: 19px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}

.userTableButtonBox>button:nth-child(1) {
    background-color: rgb(207, 255, 188);
}

.userTableButtonBox>button:nth-child(2) {
    background-color: rgb(255, 212, 212);
}

.userTableButtonBox>button:nth-child(1):hover {
    background-color: rgb(148, 255, 105);
    cursor: pointer;
}

.userTableButtonBox>button:nth-child(2):hover {
    background-color: rgb(255, 169, 169);
    cursor: pointer;
}

/* ======================================================= */

.userTablePrevBox {
    margin: auto;
    margin-top: 50px;
    width: 600px;
    height: 45px;
    display: flex;
    justify-content: center;
}

.userTablePrevBox>button {
    display: inline-block;
    width: 170px;
    height: 100%;
    border: 1px solid black;
    font-size: 17px;
    background-color: rgb(238, 238, 238);
}

.userTablePrevBox>button:hover {
    background-color: rgb(215, 215, 215);
    cursor: pointer;
}

/* ================================================================== */
.userInfoControlBackGround {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(192, 192, 192, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ChangePasswordContainer,
.WithDrawMemberContainer {
    position: fixed;
    width: 950px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

.WithDrawMemberContainer {
    background-color: rgb(255, 242, 242);
}

.ChangePasswordTitle,
.withDrawMemberTitle {
    /* background-color: rgb(3, 113, 113); */
    width: 500px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 35px;
}

.ChangePasswordTitle>span,
.withDrawMemberTitle>span {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.ChangePasswordContainer>div:not(:first-child)>span:nth-child(1) {
    display: inline-block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: right;
    /* background-color: aqua; */
    margin-right: 20px;
    font-size: 17px;
    font-weight: bold;
}

.ChangePasswordContainer>div:not(:first-child)>input {
    display: inline-block;
    background-color: rgb(215, 244, 157);
    width: 220px;
    height: 40px;
    font-size: 14px;
    margin-right: 12px;
}

.ChangePasswordContainer>div:nth-child(2)>input {
    background-color: rgb(255, 242, 226);
}

.newPw>.inValidPw,
.newPw>.validPw {
    display: inline-block;
    width: 480px;
    height: 40px;
    line-height: 40px;
    color: red;
    font-weight: bold;
}

.ConfirmNewPw>.confirmedPw,
.ConfirmNewPw>.denyPw {
    display: inline-block;
    width: 160px;
    height: 40px;
    line-height: 40px;
    color: red;
    font-weight: bold;
}

.newPw>.validPw,
.ConfirmNewPw>.confirmedPw {
    color: rgb(0, 130, 0);
}

.chgPwButtonBox {
    margin: auto;
    margin-top: 35px;
    width: 700px;
    height: 50px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
}

.chgPwButtonBox>button {
    width: 200px;
    height: 100%;
    border: none;
    border-radius: 10px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;

}

.chgPwButtonBox>button:nth-child(1) {
    background-color: rgb(0, 177, 0);
    color: white;

    &:disabled {
        opacity: 0.2;
        background-color: rgb(0, 0, 0);
    }
}

.chgPwButtonBox>button:nth-child(1):hover {
    cursor: pointer;
    background-color: rgb(0, 124, 0);
}

.chgPwButtonBox>button:disabled:hover {
    cursor: not-allowed;
}

.chgPwButtonBox>button:nth-child(2):hover {
    cursor: pointer;
    background-color: rgb(158, 158, 158);
}

/* ========================================================================= */
.withdrawMemberConfirmPwBox {
    width: 700px;
    height: 100px;
    margin: auto;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.withdrawMemberConfirmPwBox>span {
    font-size: 26px;
    line-height: 50px;
    margin-right: 20px;
}

.withdrawMemberConfirmPwBox>input {
    width: 250px;
    height: 48px;
    font-size: 30px;
}

.withDrawMemberButtonBox {
    width: 700px;
    height: 60px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.withDrawMemberButtonBox>button {
    width: 230px;
    height: 100%;
    border: none;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
}

.withDrawMemberButtonBox>button:nth-child(1) {
    background-color: red;
    color: white;
}

.withDrawMemberButtonBox>button:nth-child(1):hover {
    background-color: rgb(137, 44, 44);
    cursor: pointer;
}

.withDrawMemberButtonBox>button:nth-child(2) {
    background-color: rgb(128, 128, 128);
    color: white;
}

.withDrawMemberButtonBox>button:nth-child(2):hover {
    background-color: rgb(33, 33, 33);
    cursor: pointer;
}